{% set title = meta.title|default %}
{% set url = meta.url|default %}
{% set description = meta.description|default %}

<div class="Google__default">
    <div class="Google__title">
        {% if title %}
            {{ title|striptags|raw }}
        {% endif %}
    </div>
    <div class="Google__url">
        {% if url %}
            {{ url | length > 85 ? url[:85] ~ '...' : url }}
        {% endif %}
    </div>

    <div class="Google__description">
        {% if description %}
            {{ (description | length > 150 ? description[:150] ~ '...' : description)|striptags|raw }}
        {% endif %}
    </div>
</div>
