<div class="Twitter__context">
    <div class="Twitter__context-inner">
        <div class="Twitter__context-tweet">
            <div class="Twitter__context-meta">
                <span>Jane Doe</span><span>@JaneDoe1980</span><span>42h</span>
            </div>
            <div class="Twitter__context-content">
                Check out this wicked card that #seoMate generated for me! Go @vrsgd!
            </div>
        </div>
        <div class="Twitter__card">
            <div class="Twitter__image">
                {% if image %}
                    {% set transformed = craft.imager.transformImage(image, { width: 1200, height: 600 }) %}
                    <img src="{{ transformed.url }}" alt="">
                {% endif %}
            </div>

            <div class="Twitter__meta">
                <div class="Twitter__text">
                    <div class="Twitter__title">
                        <span>{{ meta.title }}</span>
                    </div>
                    <div class="Twitter__description">
                        {{ meta.description }}
                    </div>
                </div>

                <div class="Twitter__url">
                    {{ siteUrl | replace({'http://': '', 'https://': '', '//': '', '/': ''})}}

                </div>

            </div>
        </div>
    </div>
</div>
