{% set image = meta['twitter:image'] ?? meta['og:image'] ?? meta.image ?? null %}

<div class="Twitter__context">
    <div class="Twitter__context-inner">
        <div class="Twitter__context-tweet">
            <div class="Twitter__context-meta">
                <span>Jane Doe</span><span>@JaneDoe1980</span><span>42h</span>
            </div>
            <div class="Twitter__context-content">
                Check out this wicked card that #seoMate generated for me! Go @vrsgd!
            </div>
        </div>
        <div class="Twitter__card">
            <div class="Twitter__image">
                {% if image %}
                    <img src="{{ image.getUrl({ width: 1200, height: 600, mode: 'crop' }) }}" alt="">
                {% endif %}
            </div>

            <div class="Twitter__meta">
                <div class="Twitter__text">
                    <div class="Twitter__title">
                        <span>{{ meta.title|striptags|raw }}</span>
                    </div>
                    <div class="Twitter__description">
                        {{ meta.description|striptags|raw }}
                    </div>
                </div>

                <div class="Twitter__url">
                    {{ siteUrl | replace({'http://': '', 'https://': '', '//': '', '/': ''})}}

                </div>

            </div>
        </div>
    </div>
</div>
